# Object files
*.o
*.os

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Google test
t/*_unittest

# SConstruct caches
.scons*
